.footer {
  background-color: #1f1f1f;
  padding: 60px 0 40px;
  display: flex;
  justify-content: center;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  color: white;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  padding: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer__column-links { 
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
  list-style-type: none;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  text-align: left center;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;  
}